// Run:
np=512 // number of boxes in 1 dim
box_size=10.   // In Mpc/h
seed=<seed> // change this one for different universes
z_in=201.0

// Cosmology:
hubble=0.675
Omega_m=0.31   // Total matter content; 1-this will be DE
Omega_bar=0.0487
Omega_nu=0.0
Omega_r=0.0
Sigma_8=0.82
n_s=0.965
w_de=-1.0
N_nu=3
nu_pairs=4
f_NL=0.0
TFFlag=0

// Code stuff:
PrintFormat=5
